/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
    .center-img {
        display: flex;
        justify-content: center;
    }
    
    }
    
    /* Mobile Layout: 320px. */
    @media only screen and (max-width: 767px) { 
        .special-header {
            margin-bottom: 1rem;
        } 
        .case-center {
            text-align: center;
            margin: auto;
            width: 70%;
            color: #898989;
            font-size: 0.6rem;
        }
        .center-img {
            display: flex;
            justify-content: center;
        }
        .case-img {
            text-align: center;
            margin: auto;
            margin-top: 6rem;
            margin-bottom: 3rem;
        }   
    }
    
    /* Tablet Layout: 768px. */
    @media only screen and (min-width: 768px) and (max-width: 991px) { 
        .special-header {
            margin-bottom: 2rem;
        }
        .case-center {
            text-align: center;
            margin: auto;
            width: 70%;
            color: #898989;
            font-size: 0.7rem;
        }
        .center-img {
            display: flex;
            justify-content: center;
        } 
        .case-img {
            text-align: center;
            margin: auto;
            margin-top: 6rem;
            margin-bottom: 3rem;
        }     
    }
    
    /* Medium Layout: 1280px. */
    @media only screen and (min-width: 992px) and (max-width: 1200px) { 
        .special-header {
            margin-bottom: 2rem;
        }
        .case-center {
            text-align: center;
            margin: auto;
            width: 70%;
            color: #898989;
            font-size: 0.7rem;
            margin-bottom: 2rem;
        }
        .center-img {
            display: flex;
            justify-content: center;
        }
        .case-img {
            text-align: center;
            margin: auto;
            margin-top: 6rem;
            margin-bottom: 3rem;
        }
    }
    
    /* Max Layout */
    @media only screen and (min-width: 1201px) { 
/*----------------------- CASE ------------------------*/
.case-body {
    padding: 0;
    margin: auto;
    text-align: center;
}
.special-header {
    margin-bottom: 3rem;
}
.case-center {
    text-align: center;
    margin: auto;
    width: 70%;
    color: #898989;
    font-size: 0.8rem;
    margin-bottom: 2rem;
}
.case-img {
    text-align: center;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.center-img {
    display: flex;
    justify-content: center;
}
    }